:root {
  --ch-orange: rgba(255, 204, 64, 1.0);
  --ch-pink: rgba(237, 9, 115, 1.0);
  --ch-pink-dark: rgba(180, 0, 50, 1.0);
  --ch-cyan: rgba(0, 220, 240, 1.0);
  --ch-cyan-dark: rgba(0, 110, 140, 1.0);
  --ch-black: rgba(50, 20, 30, 1.0);
}

html, body {
    margin: 0; padding: 0;
    font-family: "Roboto", "PT Sans", sans-serif;
    position: relative;
}

.page-header {
    width: 100%;
    height: 50px; line-height: 50px;
    color: white;

    font-size: 20pt;
    text-align: center;

    -webkit-user-select: none;

    background: linear-gradient(to bottom right, var(--ch-orange), var(--ch-pink));
    border-bottom: 2px solid #ffffff;
}
.page-header a {
    position: absolute;
    right: 0; margin: 8px 5px;
    text-decoration: none;

    color: white;
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 2px solid white;

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;
}
.page-header a:hover {
    color: var(--ch-orange);
    background: #444444;
}
.page-header .active {
    color: var(--ch-orange);
    background: #444444;
}
.page-header a i {
    font-size: 18pt;
    position: absolute;
    top: 3px; left: 5px;
    padding-bottom: 0;
}

.page-content {
    width: 100%;
    /*height: calc(100% - 136px);*/
    padding: 0;
}

img.rebooting {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page-footer {
  color: black;
  text-align: center;
  margin: 0 auto;
  width: 24em;
}

.page-footer ul {
  text-align: left;
  list-style: none;
  width: 12em;
  margin: auto;
  padding: 0;
}


.page-footer img {
  float: left;
  width:5em;
}

.scan-results-container {
    margin: 0 auto;
    margin-bottom: 10px;

    width: 100%; max-width: 400px;
    height: calc(100% - 5px);
    border-bottom: 2px solid white;

    background: #ffffff;

    overflow-y: auto;
    overflow-x: hidden;
}

.scan-result {
    color: white;
    position: relative;
    height: 40px; line-height: 40px;

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;
    cursor: pointer;

    border-bottom: 2px solid #ffffff;
    background: var(--ch-black);
}
.scan-result:hover {
    color: white;
    background: var(--ch-pink);
}
.scan-result.selected {
    color: white;
    background: var(--ch-pink);
}
.scan-result .ssid {
    position: absolute;
    top: 0; left: 10%;
    width: 80%; height: 100%;
}
.scan-result .secure {
    color: white;
    padding-left: 3px;
}
.scan-result .signal_stength {
    position: absolute;
    top: 0; left: 85%;
    width: 10%; height: 100%;
}

.updater-content {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 1em;
  max-width: 400px;
  border-bottom: 2px solid white;
}

.updater_button {
    padding: 1em;
    text-align: center;
}
.updater_button button {
    border: 2px solid var(--ch-pink-dark);
    background: var(--ch-pink);
    color: white;
    font-size: 1em;
    padding: 0.5em 0.75em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.updater_button button:hover {
    background: var(--ch-orange);
    border: 2px solid var(--ch-pink);
    color: var(--ch-pink);
}
.updater_button button:active {
    color: var(--ch-pink-dark);
    border: 2px solid var(--ch-pink-dark);
}

.menu-bar {
  margin: 1em;
}

/*

.password_input {
    margin: 0 auto;

    width: 80%; max-width: 300px;
    height: 45px;

    background: #f0f9fe;

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;

    overflow: hidden;
}

.password_input.hidden {
    height: 0px;
}

.password_input input {
    width: 98%;
    height: 87%;
    line-height: 134%;

    font-size: 17pt;
}

.submit_btn {
    margin: 0 auto;

    width: 80%; max-width: 300px;
    height: 45px; line-height: 45px;

    background: #222222;
    color: white;
    cursor: pointer;

    font-size: 18pt;
    text-align: center;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;
}

.submit_btn:hover {
    background: #28e602;
    color: black;
}
*/


.rwc-password-entry-container {
    position: absolute;

    top: 0; left: 0;
    width: 100%; height: 100%;

    background: rgba(0,0,0,0.85);

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;
}

.rwc-password-entry-container.hide-me {
    top: 100%;
    opacity: 0;
}

.rwc-password-entry-container .box {
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 20px;

    width: 330px;
    height: 115px;

    background: rgba(0,0,0,1.0);
    border: 2px solid #666666;
}

.rwc-password-entry-container .box input {
    width: 325px;
    height: 50px; line-height: 50px;

    font-size: 18pt;
    border: 0;

    padding-left: 5px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.rwc-password-entry-container .box .btn {
    width: 155px;
    height: 40px; line-height: 40px;
    text-align: center;
    font-size: 18px;

    border: 2px solid #000000;

    position: absolute;

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;

    cursor: pointer;
}
.btn-cancel {
    background: var(--ch-pink-dark);
    top: 90px; left: 18px;
}
.btn-ok {
    top: 90px; left: 193px;
    background: var(--ch-cyan-dark);
}
.btn-cancel:hover {
    background: var(--ch-pink);
}
.btn-ok:hover {
    background: var(--ch-cyan);
}

ul.main-menu {
  text-align: center;
  list-style-type: none;
  -webkit-padding-start: 0;
  height: 100%;
}
ul.main-menu li {
  display: inline-block;
  margin: 1em;
  padding: 3em;
  border: solid 1px var(--ch-black);
  list-style-position:inside;
}
ul.main-menu img {
  width: 10em;
}

.reboot-message-container {
    color: white;
    position: absolute;

    top: 0; left: 0;
    width: 95%; height: 100%;
    min-height: 40em;
    padding: 2em;
    margin: 0 auto;

    background: rgba(19,0,27,1.0);

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;
}

.reboot-message {
  text-align: left;
  width: 20em;
  margin: 0 auto;
}
.reboot-message img {
  width:auto;
}

p.reboot-footer {
  text-align: center;
}

img.reboot-footer {
  padding-top: 1em;
  width: 4em;
}
