<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">

<head>
    <title>Missing Link: Diagnostics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/app.css">
</head>


<body ng-controller = "AppController"
      ng-keyup      = "$event.keyCode == 27 ? change_selection(null) : ''">

    <div class = "page-header" data-ng-init = "rescan_logs()">
      THE MISSING LINK Control Panel
        <a href = "#" ng-click = "rescan_logs()" ng-class = "{ 'active': scan_running }">
            <i class = "fa fa-refresh"
               ng-class = "{ 'fa-spin': scan_running }"></i>
        </a>
    </div>

    <div class = "page-content">
        <div class="menu-bar"><p>&lt;&lt; <a href="/">Main Menu</a></p></div>

          <h1>System Logs</h1>
          <h2>Missing Link</h2>
          <div class = "logs"
               ng-repeat = "line in missing_link_log">
               <p>{{ line }}</p>
          </div>
          <h2>ch-box-admin</h2>
          <div class = "logs"
               ng-repeat = "line in ch_box_admin_log">
               <p>{{ line }}</p>
          </div>
          <h2>Syslog</h2>
          <div class = "logs"
               ng-repeat = "line in syslog">
               <p>{{ line }}</p>
          </div>


    </div>

    <div class = "page-footer">
      <p>Questions? email support@circuithappy.com</p>
      <p><img src="footer_logo.svg"/></p>
      <ul>System Information:
        <li>Software: {{software_version}}</li>
        <li>System: {{system_version}}</li>
        <li><a href="diagnostics.html">Diagnostics</a></li>
      </ul>
    </div>

    <!-- Scripts load last -->
    <script src="/external/angularjs/angular.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>
