<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">

<head>
    <title>Missing Link: Edit Stored WiFi Networks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/app.css">
</head>


<body ng-controller = "AppController"
      ng-keyup      = "$event.keyCode == 27 ? change_selection(null) : ''">

    <div class = "page-header" data-ng-init = "list_stored_wifi()">
      THE MISSING LINK Control Panel
        <a href = "#" ng-click = "list_stored_wifi()" ng-class = "{ 'active': scan_running }">
            <i class = "fa fa-refresh"
               ng-class = "{ 'fa-spin': scan_running }"></i>
        </a>
    </div>

    <div class = "page-content">
        <div class="menu-bar"><p>&lt;&lt; <a href="/">Main Menu</a></p></div>
        <div class = "scan-results-container">
          <h1><i class = "fa fa-wifi"></i> Edit Stored WiFi Networks</h1>
            <div class = "scan-result"
                 ng-repeat = "network in scan_results track by $index"
                 ng-class = "{ selected: (network.connected) }"
                 ng-click = "change_selection(network)">
                <div class = "ssid">{{ network.ssid }} <button ng-click="remove_network(network.network_id)">Remove</button></div>
            </div>
            <div>
              <button ng-click="update_stored_networks()" ng-disabled="update_running">Save Changes & Reboot</button>
            </div>
        </div>
    </div>

    <div class="reboot-message-container" ng-show="show_reboot_message">
      <div class="reboot-message">
        <p><img class="rebooting" src="rebooting_anim.gif"/></p>
        <p>Settings are being saved and the system is rebooting.</p>
        <p>Your Missing Link should be back up and running on your network in a minute.</p>
        <p class="reboot-footer"><a href="/"><img class="reboot-footer" src="small_white_logo.svg"/></a></p>
      </div>
    </div>

    <div class = "page-footer">
      <p>Questions? email support@circuithappy.com</p>
      <p><img src="footer_logo.svg"/></p>
      <ul>System Information:
        <li>Software: {{software_version}}</li>
        <li>System: {{system_version}}</li>
        <li><a href="diagnostics.html">Diagnostics</a></li>
      </ul>
    </div>

    <!-- Scripts load last -->
    <script src="/external/angularjs/angular.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>
