<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">

<head>
    <title>Missing Link Control Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/app.css">
</head>


<body ng-controller = "AppController"
      ng-keyup      = "$event.keyCode == 27 ? change_selection(null) : ''">

    <div class = "page-header">
        Missing Link Administration Page
    </div>

    <div class = "page-content">
            <ul class="main-menu">
              <li onclick="location.href='add_wifi.html';" style="cursor: pointer;"><a href="add_wifi.html"><img src="add_wifi.svg"/><br>Add a WiFi Network</a></li>
              <li onclick="location.href='update_software.html';" style="cursor: pointer;"><a href="update_software.html"><img src="software_update.svg"/><br>Update Missing Link Software</a></li>
            </ul>
    </div>

    <div class = "page-footer">
      <img src="footer_logo.svg"/>
      <p>Missing Link software version: <%- include version.txt %></p>
    </div>

    <!-- Scripts load last -->
    <script src="/external/angularjs/angular.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>
