<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">

<head>
    <title>Missing Link Rebooting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta http-equiv="refresh" content="60;URL='/'" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/app.css">
</head>


<body ng-controller = "AppController"
      ng-keyup      = "$event.keyCode == 27 ? change_selection(null) : ''">

    <div class = "page-header">
        Your Missing Link is rebooting
    </div>

    <div class = "page-content">
        <div class = "scan-results-container">
            <p><img src="rebooting_anim.gif"/></p>
            <p>Your settings are being saved and the system is rebooting.</p>
            <p>Your Missing Link should be back up and running on your network in about 60 seconds.</p>
        </div>
    </div>

    <div class = "page-footer">
      <p><img src="footer_logo.png"/></p>
      <p>User License Agreement</p>
    </div>

    <!-- Scripts load last -->
    <script src="/external/angularjs/angular.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>
