<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">

<head>
    <title>Missing Link: Update Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/app.css">
</head>


<body ng-controller = "AppController"
      ng-keyup      = "$event.keyCode == 27 ? change_selection(null) : ''">

    <div class = "page-header">
        Update Software
        <a href = "#" ng-click = "get_software()" ng-class = "{ 'active': update_running }">
            <i class = "fa fa-refresh"
               ng-class = "{ 'fa-spin': scan_running }"></i>
        </a>
    </div>

    <div class = "page-content">
        <a href="/">Back to Main Page</a>
        <div class = "scan-results-container">

        </div>
    </div>

    <!-- Scripts load last -->
    <script src="/external/angularjs/angular.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>
