<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">

<head>
    <title>Missing Link: Update Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/app.css">
</head>


<body ng-controller = "AppController"
      ng-keyup      = "$event.keyCode == 27 ? change_selection(null) : ''">

    <div class = "page-header">
        Update Software
    </div>

    <div class = "page-content">
        <div class="menu-bar"><p>&lt;&lt; <a href="/">Main Menu</a></p></div>
        <div class = "updater-content">
          <p>Click the button below to check the Circuit Happy servers for a software update.</p>
          <p>If there is an update available it will install automatically. <em>You will need an Internet connection to get updates.</em></p>
          <p>Your Missing Link will reboot after a successful update.</p>
          <div class="updater_button">
            <button ng-click="get_software()" ng-disabled="update_running">Check For and Install Update</button> <i class = "fa fa-refresh" ng-class = "{ 'fa-spin': update_running }" ng-show = "update_running"></i>
            <p>beta code:&nbsp;<input type="text" ng-model="beta_code" maxlength="8"/></p>
            <p>{{update_status_message}}</p>
            <p>Current software version: {{software_version}}</p>
            <p>Current system version: {{system_version}}</p>
          </div>

        </div>
    </div>

    <div class = "page-footer">
      <p>Questions? email support@circuithappy.com</p>
      <p><img src="footer_logo.svg"/></p>
      <ul>System Information:
        <li>Software version: {{software_version}}</li>
        <li>System version: {{system_version}}</li>
      </ul>
    </div>

    <!-- Scripts load last -->
    <script src="/external/angularjs/angular.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>
