<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">

<head>
    <title>Missing Link: Update Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/app.css">
</head>


<body ng-controller = "AppController"
      ng-keyup      = "$event.keyCode == 27 ? change_selection(null) : ''">

    <div class = "page-header">
      THE MISSING LINK Control Panel
    </div>

    <div class = "page-content">
        <div class="menu-bar"><p>&lt;&lt; <a href="/">Main Menu</a></p></div>
        <div class = "updater-content">
          <h1>Software Update</h1>
          <p>Click the button below to check the Circuit Happy servers for a software update. If there is an update available it will install the update right away.</p>
          <p><em>To download updates your Missing Link needs to be connected to a WiFi network with an Internet connection.</em></p>
          <p>Your Missing Link will reboot after a successful update.</p>
        </div>
        <div class="updater_button">
          <p class="beta-code">beta code:&nbsp;<input type="text" ng-model="beta_code" maxlength="8"/></p>
          <p ng-show="wifi_status == 'AP_MODE'"><strong>Your Missing Link is in Access Point Mode. The update button below will not function as you do not have a connection to the Internet.</strong></p>
          <button ng-click="get_software()" ng-disabled="update_running || wifi_status == 'AP_MODE'">Check For and Install Update <i class = "fa fa-refresh" ng-class = "{ 'fa-spin': update_running }" ng-show = "update_running"></i></button>
          <p><strong>{{update_status_message}}</strong></p>
          <p>Current software version: {{software_version}}<br/>
            Current system version: {{system_version}}</p>
        </div>

    </div>

    <div class = "page-footer">
      <p>Questions? email support@circuithappy.com</p>
      <p><img src="footer_logo.svg"/></p>
      <ul>System Information:
        <li>Software: {{software_version}}</li>
        <li>System: {{system_version}}</li>
        <li><a href="diagnostics.html">Diagnostics</a></li>
      </ul>
    </div>

    <!-- Scripts load last -->
    <script src="/external/angularjs/angular.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>
